/* 
** Citation for the contents of this file
** Date: 10 June 2024
** Adapted from the w3 schools documentation, and flexbox documentation which are linked below, as well as
**  the conventional knowledge gained in Oregon State University's CS290 coursework.
**  Knowledge gained during CS290 is not cited as it is considered common knowledge
**  for the purposes of this course.
** Source URL: https://www.w3schools.com/css/
** Source URL: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Basic_concepts_of_flexbox
*/

/*********************************************** Table ***************/
table {
    min-width: 750px;
    max-width: 90%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

tr {
    border-bottom: 1px solid #ddd;
    font-weight: semi-bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

tr:hover {
    /* hover over a table row */
    background-color: #f1f1f1;
}

th {
    /* table header */
    background-color: #f2f2f2;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

th,
td {
    /* table header and table column styles. append the the 'th' styles defined above */
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table button:hover {
    /* hovering over a button whose parent is a table (delete button) */
    background-color: lightcoral;
}

.table-name {
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*********************************************************************/
/*********************************************** Form ****************/
form {
    margin: 2em;
    min-width: 600px;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.form-description {
    font-size: 0.75;
    text-align: center;
    margin-top: 1em;
    font-style: italic;
    padding-left: 1em;
    padding-right: 1em;
}

.form-name {
    font-size: 2em;
    text-align: center;
}

.form-details {
    margin: 1em;
}

.form-btn {
    margin-top: 1em;
}

/*********************************************************************/
/*********************************************** Page/Input **********/
.page-forms {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.page-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    margin-left: 1em;
    margin-right: 1em;
}
/*********************************************************************/
/*********************************************** Homepage ***********/
.homepage {
    padding: 2em;
}

.homepage p {
    font-style: italic;
    text-decoration: underline;
}
/*********************************************************************/