
form {
    outline: 1px solid green;
}

.page-forms {
    /* make this a flex layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    justify-content: space-around;
}

.form-name {
    font-size: 2em;
}

.form-btn {
    margin-top: 1em;
}