<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Growing Our Community</h1>
    <!-- Add nav bar -->
    <div id="nav-bar">
        <div>
            <span><a href="index">Home</a></span>|
            <span><a href="gardens">Gardens</a></span>|
            <span><a href="plots">Plots</a></span>|
            <span><a href="plantsplots">Plants Plots</a></span>|
            <span><a href="plotsgardeners">Plots Gardeners</a></span>|
            <span><a href="gardeners">Gardeners</a></span>|
            <span><a href="invoicedetails">Invoice Details</a></span>|
            <span><a href="invoices">Invoices</a></span>|
            <span><a href="plants">Plants</a></span>
        </div>
    </div>
    <button id="sql-reset-button" onclick="resetDatabase()">Reset Database</button>

    {{{body}}}

</body>
</html>

<script src="./js/helpers/sql.js"></script>