<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
    <h1>Growing Our Community</h1>
    <!-- Add nav bar -->
    <div id="nav-bar">
        <div>
            <span><a href="pages-index">Home</a></span>|
            <span><a href="pages-gardens">Gardens</a></span>|
            <span><a href="pages-plots">Plots</a></span>|
            <span><a href="pages-plantsplots">Plants Plots</a></span>|
            <span><a href="pages-gardenersplots">Gardeners Plots</a></span>|
            <span><a href="pages-gardeners">Gardeners</a></span>|
            <span><a href="pages-invoicedetails">Invoice Details</a></span>|
            <span><a href="pages-invoices">Invoices</a></span>|
            <span><a href="pages-plants">Plants</a></span>
        </div>
    </div>

    {{{body}}}

</body>
</html>